

body {
  display: flex;
  align-content: start;
  justify-content: center;
  background-color: rgb(58, 0, 0);
}



button {
  align-items: center;
  margin: 10px;
  padding: 10px 2px;
  width: 120px;
}


tbody {
  display: flex;
}

.add-name-input {
  width: 100%;
  font-size: 2rem;
}

.error-message {
  color: rgb(255, 213, 0);
}

.group-button {
  margin: 20px;
}

.group-form {
  margin-top: 15px;
}

.group-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-number-input {
  width: 10%;
  font-size: 2rem;
  text-align: center;
}

#root {
  color: rgba(255, 255, 255, 0.856);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

h1 {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

/* column groups. */
.grouped-row-0 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(251, 114, 114);
  opacity: 0.8;
  border:rgba(0, 0, 0, 0.033) solid 1px;
  
}

.grouped-row-1 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(25, 168, 0);
  opacity: 0.8;
  border:rgba(0, 0, 0, 0.033) solid 1px;
}


.grouped-row-2 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(0, 221, 255);
  opacity: 0.8;
  border:rgba(0, 0, 0, 0.033) solid 1px;
}

.grouped-row-3 {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(208, 192, 203, 0.754);
  opacity: 0.8;
  border:rgba(0, 0, 0, 0.033)solid 1px;
}


.grouped-name {
  color: white;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0.5em;
}

.grouped-namesTable {
  table-layout: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-collapse: collapse;
}

/* column ungrouped. */
.ungrouped-row-0 {
  opacity: 0.8;
  
}

.ungrouped-row-1 {
  opacity: 0.8;
}


.ungrouped-row-2 {
  opacity: 0.8;
}

.ungrouped-row-3 {
  opacity: 0.8;
}


.ungrouped-name {
  display: flex;
  flex-wrap: wrap;
  color: black;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0.5em;
}

.ungrouped-namesTable {
  background-color: white;
  table-layout: fixed;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10px;
}

